@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;700&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Saira+Condensed&display=swap');
:root {
    
    --bg-white: #ffffff;
    --bg-med-white: #f5f5f5;
    --bg-light-grey:#f1f1f1;
    --bg-med-grey: #c9c9c9;
    --bg-heavy-grey: #868686;
    --bg-heavier-grey: #494949;
    --bg-dark-grey: #181818;
    --bg-black: #000000;   
    
    --bg-yellow: #f0e549;
    --bg-blue: #77bde6;   
    --bg-orange: #df5a25;
    --bg-green: #347037;


    --fs-list-w: 0.8rem;
    --fs-m: 1.5rem;
    --fs-s: 1rem;
    --fs-ms: 1.2rem;
    --fs-l: 1.6rem;
    --fs-xl: 1.7rem;
    --fs-xxl: 2.1rem;

    --fw-xs: 300;
    --fw-s: 500;
    --fw-m: 700;    

    --ff-assistant: 'Assistant';
    --ff-roboto: 'Roboto Condensed';
    --ff-saira: 'Saira Condensed';   
    --ff-arial: Arial, sans-serif;
}
/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    
  } */

textarea:focus, input:focus{
    outline: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex{
    display: flex;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.yellow{
    background-color: var(--bg-yellow);
}
.blue{
    background-color: var(--bg-blue);
}
.orange{
    background-color: var(--bg-orange);
}
.green{
    background-color: var(--bg-green);
}
.hide{
    display: none;
}
.wrapper{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;    
}

.nav--top{
    background-color: var(--bg-dark-grey);
    justify-content: center;    
}

.nav--top-container{    
    padding: .5rem 0 .5rem 0;
    max-width: 80rem;  
    justify-content: space-between;
    color: var(--bg-white);
    flex: 1;     
}

.nav--top-info{
    font-family: var(--ff-saira);
    align-items: center;
    min-width: max-content;
    flex:5;
    user-select: none;    
}

.nav--top-active{
    font-family: var(--ff-roboto);
    align-items: center;
    min-width: max-content;
    flex:1;
    user-select: none; 
}
.nav--top-player{
    font-family: var(--ff-roboto);    
    font-style: italic;
    min-width: max-content;
    color: var(--bg-yellow);
    flex:1;  
}

.nav--top-log{
    font-family: var(--ff-roboto);
    align-items: center;
    min-width: max-content;
    justify-content: flex-end;
    flex:1;    
}

.nav--main-container{
    background-image: linear-gradient(330deg,
    hsl(240deg 100% 4%) 0%,
    hsl(240deg 60% 5%) 8%,
    hsl(240deg 35% 7%) 15%,
    hsl(240deg 21% 8%) 23%,
    hsl(240deg 12% 9%) 31%,
    hsl(239deg 6% 10%) 38%,
    hsl(240deg 2% 10%) 46%,
    hsl(250deg 5% 11%) 54%,
    hsl(248deg 13% 12%) 62%,
    hsl(246deg 20% 13%) 69%,
    hsl(245deg 26% 14%) 77%,
    hsl(243deg 32% 15%) 85%,
    hsl(241deg 37% 16%) 92%,
    hsl(238, 43%, 16%) 100%);

    justify-content: center;    
}

.nav--main-menu{   
    flex: 1;
    flex-wrap: wrap;   
    max-width: 80rem;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    align-items: center;
}

.nav--main-logo{
    font-family: var(--ff-saira);
    font-size: var(--fs-xxl);
    font-weight: 700;
    color: var(--bg-white);
    background-color: #181818;
    padding: 0 1rem 0 1rem;
    user-select: none;    
}


.nav--main-item{    
    font-family: var(--ff-roboto);
    font-size: var(--fs-xl);
    font-weight: 700;
    color: var(--bg-white);
}

.nav--main-input{
    text-align: center;
    font-family: var(--ff-arial);
    font-size: var(--fs-s) ;
    font-weight:var(--fw-s);
    height: 2rem;    
    border-radius:  2rem 0 0 2rem;
    border: none;    
}

.player--search-btn{
    border-radius:  0 2rem 2rem 0;
    border: none;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
    border-left: 1px solid rgb(231, 231, 231);
}
.player--search-btn img{    
    height: 1rem;   
   
}




/*-------------------- MAIN START -----------------------*/

/*-------- size config START --------*/

.left--border{
    background-color:var(--bg-white);
    flex: 1;    
}

.right--border{
    background-color:var(--bg-white);    
    flex: 1;
}

.main--wrapper{
    flex:4;
}
.main{      
    justify-content: center;      
    background-color: var(--bg-light-grey)  ;
    flex-wrap: wrap ;  
    flex: 4;
    padding: 1rem;   
    gap: 1rem;
    /* margin-top: 1rem; */
}



.main--container{    
    flex: 1;    
    flex-direction: column;    
    flex-wrap: wrap;   
}

.main--container-top{
    
    flex-direction: column;    
    align-items: center;    
    margin-bottom: 1rem;    
}

.container-top-item{
    padding-left: 1rem;
}
.container-top-high{
       
    background-color:var(--bg-black);
    color: var(--bg-white);
    width: 100%;
    font-family: var(--ff-saira);
    font-size: var(--fs-xxl);
    font-weight: 400;
    color: var(--bg-white);
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 2.5rem;
}

.container-select-box{
    justify-content: center;
    flex: 1;
    background-color: var(--bg-dark-grey);  
    padding: 1rem ;
    gap: 1rem;
    flex-wrap: wrap
} 

.container-top-select{    
    padding: 0 .5rem 0 .5rem; 
    border: 1px solid rgb(48, 48, 48);    
    font-family: var(--ff-saira);
    font-size: var(--fs-s);
    background-color: var(--bg-dark-grey);
    color: var(--bg-white);        
}

.stats--container{
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
}

.player-box{
    background-color: var(--bg-white)  ;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    font-family: var(--ff-roboto);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    color: var(--bg-white);    
}

.player-header-box{
    align-items: center;         
    flex: 1;      
    justify-content: space-between;
}

.header-number-box{
    text-align: center;    
    align-items: center;
    justify-content: center;
    height: 1.9rem;
    width: 1.9rem;
    
}

.player{
    padding: .5rem .5rem .5rem .5rem;
    background-color: #181818;
    margin-bottom: 1rem;
}

.header-player{
    padding-left: .5rem;
    font-family: var(--ff-saira);
    font-size: var(--fs-ms);
    font-weight: var(--fw-s);  
}

.player-box-search{
    font-family: var(--ff-roboto);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);

}

.player-box-input{
    
    background:none;
    border: none;
    color: var(--bg-white);
    font-family: var(--ff-saira);
    font-size: var(--fs-ms);
    font-weight: var(--fw-s);
   flex: 1;
   padding-left: .5rem;


    
}

.player-box-add{
    font-family: var(--ff-saira);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    align-items: center;
    justify-content: center;
    line-height: 100%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--bg-dark-grey);
    border: none;
    
}
.player-box-add img{
    width: 1rem;       
    border-radius: 100%;
    transition: .1s;
}
.player-box-add img:hover{
    width: 2.3rem;    
    padding: .5rem;    
    border-radius: 100%;
    
}




/*--------- size config END ---------*/

/*-------- TOP INFO START --------*/





/* ------------ player header box ------------- */


.stats-list{
    padding: 0 1rem .4rem 1rem;
    font-family: var(--ff-arial);
    justify-content: space-between;
    /* border-bottom: #ffffff solid 1px; */
}

.list-what{
    font-size: var(--fs-list-w);
    font-weight: var(--fw-xs);
    color: var(--bg-heavy-grey);
}

.list-quant{
    font-size: var(--fs-list-w);
    font-weight: var(--fw-m);
    color: var(--bg-dark-grey);
}

/* .footer{
    
    background-color: var(--bg-dark-grey)  ;
    flex: 1;
    
} */